#include "Shared.xcconfig"

PRODUCT_NAME = CodexQuotaViewWidgetExtension
CODEXQUOTAVIEW_WIDGET_BUNDLE_ID = com.zmjza.codexquotaview.menubar.widget
PRODUCT_BUNDLE_IDENTIFIER = $(CODEXQUOTAVIEW_WIDGET_BUNDLE_ID)
MARKETING_VERSION = 0.3.5
CURRENT_PROJECT_VERSION = 5

CODEXQUOTAVIEW_APP_GROUP_ID = TEAMID.com.zmjza.codexquotaview.shared

GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Support/CodexQuotaViewWidget-Info.plist
CODE_SIGN_ENTITLEMENTS = Support/CodexQuotaViewWidget.entitlements

ENABLE_APP_SANDBOX = YES
ENABLE_HARDENED_RUNTIME = YES
REGISTER_APP_GROUPS = YES
APPLICATION_EXTENSION_API_ONLY = YES
SKIP_INSTALL = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @executable_path/../../../../Frameworks
